{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <h1 class="mt-2 mb-4">Information sur le genre</h1>
        <table class="table table-striped mt-4">
            <tr>
                <td>Nom</td>
                <td>{{ genre.nom }}</td>
            </tr>
        </table>
    </div>
{% endblock %}