{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <h1 class="mt-2 mb-4">Information sur le genre</h1>
        <table class="table table-striped mt-4">
            <tr>
                <td>Nom</td>
                <td>{{ genre.nom }}</td>
            </tr>
            <tr>
                <td>Livres</td>
                <td>
                    {% for book in genre.livres %}
                        {{ book.titre }}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>Moyenne de pages</td>
                <td> {{ avg.0.avg }} </td>
            </tr>
            <tr>
                <td>Nombre de pages</td>
                <td> {{ sum.0.sum }} </td>
            </tr>
        </table>
    </div>
{% endblock %}