{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <h1 class="mt-2 mb-4">Ajouter un livre</h1>
        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_rest(form) }}
        <button class="btn btn-success mt-5">Ajouter</button>
        {{ form_end(form)}}
    </div>
{% endblock %}

{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $('select').select2();
    </script>
{% endblock %}