{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <h1 class="mt-2 mb-4">Editer l'auteur</h1>
        {{ form_start(form) }}
        {{ form_rest(form) }}
        <button class="btn btn-primary mt-5">Editer</button>
        {{ form_end(form) }}
    </div>
{% endblock %}