{% extends 'base.html.twig' %}

{% block body %}
    <div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
        <img src="/img/Bookland_logo2.png"/>
    </div>

{% endblock %}